.menu-cart {
    position: absolute;
    right: 5%;
    top: 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.menu-cart:hover {
    transform: scale(1.1);
}
.menu-cart img{
    width: 5rem;
    height: 5rem;
}

.menu-list{
    display: flex;
    flex-wrap: wrap;
}