@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Irish+Grover&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  height: 100vh;
}

.home-title{
  font-family: 'Irish Grover', cursive;
  text-align: center;
  letter-spacing: 0.125em; 
  font-size: 5rem;
  color: #C12535;
  text-shadow: 
    -1px -1px 0 black,  /* Arriba-Izquierda */
     1px -1px 0 black,  /* Arriba-Derecha */
    -1px  1px 0 black,  /* Abajo-Izquierda */
     1px  1px 0 black;  /* Abajo-Derecha */
  transition: color 0.3s ease, transform 0.3s ease;
}

.home-title:hover {
  transform: scale(1.05);
  cursor:default;
}

.home-center{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.125rem;
}

@media (max-width: 768px) {
  .home-center {
    flex-direction: column;
  }

  .home-center > *:nth-child(2) {
    order: 1;
  }

  .home-center > *:nth-child(1) {
    order: 2;
  }

  .home-center > *:nth-child(3) {
    order: 3;
  }
}

.home-boton{
  background-color: #FBEE00;
  font-family: 'Baloo 2', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #C12535;
  text-shadow: 
      -1px -1px 0 black, 
       1px -1px 0 black, 
      -1px  1px 0 black, 
       1px  1px 0 black;
  text-decoration: none;
  border-radius: 16px;
  padding: 0 1rem;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.75);
  transition: all 0.3s ease;
}

.home-boton:hover {
  background-color: #C12535;
  color: #FBEE00;
  transform: scale(1.1);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.85);
}

.fondo-container{
  background-color: beige;
  min-height: 80%;
  min-width: 90%;
  max-width: 90%;
  border-radius: 25px;
  margin: 0 auto;
}